<div class="jumbotron">
    <h1>Triangles</h1>
    <p class="lead">
        Triangles is a coding example that gets information about right triangles in a grid.  The grid has rows A-F and columns 1-12. Each
        non-hypotenuse side is 10 pixels. See the bottom of this page for a graphic of the layout.
    </p>
</div>

<b>NOTE:</b> Due to time constraints, this UI has minimal input validation and error checking of results.

@{ Html.RenderPartial("TriangleByRowColumn"); }

<hr />

@{ Html.RenderPartial("TriangleByCoordinates"); }

<hr />

<img src="~/Content/Images/triangles-grid.jpg" />