<div class="jumbotron">
    <h1>Triangles</h1>
    <p class="lead">Triangles is a coding example that gets information about triangles in a grid.</p>
</div>

@{ Html.RenderPartial("TriangleByRowColumn"); }

<hr/>

<img src="~/Content/Images/triangles-grid.jpg" />

