<script>
    function calcRowColumnClick() {
        try {
            var vertex1x = $("#coord1x").val();
            var vertex1y = $("#coord1y").val();
            if (vertex1x == "" || vertex1y == "") {
                alert("Invalid vertex 1.");
                return;
            }
            var vertex2x = $("#coord2x").val();
            var vertex2y = $("#coord2y").val();
            if (vertex2x == "" || vertex2y == "") {
                alert("Invalid vertex 2.");
                return;
            }
            var vertex3x = $("#coord3x").val();
            var vertex3y = $("#coord3y").val();
            if (vertex3x == "" || vertex3y == "") {
                alert("Invalid vertex 3.");
                return;
            }

            // JSON format
            // {
            // "Vertex1": "0,10",
            // "Vertex2": "0,0",
            // "Vertex3": "10,10"
            // }
            var vertices = {
                Vertex1: vertex1x + "," + vertex1y,
                Vertex2: vertex2x + "," + vertex2y,
                Vertex3: vertex3x + "," + vertex3y,
            };

            $.ajax({
                type: "POST",
                url: "/api/triangle/",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(vertices),
                success: function (result) {
                    try {
                        $("#rowColumnResult").show();
                        $("#rowResult").html(result.Row);
                        $("#columnResult").html(result.Column);
                    }
                    catch (err) {
                        alert(err.message);
                    }
                },
                error: function (jqXHR) {
                    var msg = "Error getting row and column";
                    if (jqXHR.status == 500 && typeof jqXHR.responseJSON != 'undefined' &&
                        jqXHR.responseJSON.ExceptionMessage != 'undefined' && jqXHR.responseJSON.ExceptionMessage != "") {
                        msg += ": " + jqXHR.responseJSON.ExceptionMessage;
                    }
                    alert(msg);
                }
            });
        }
        catch (err) {
            alert(err.message);
        }
    }
</script>

<div>
    <h4>Calculate Triangle Coordinates From Row and Column</h4>

    <table>
        <tr>
            <td>Vertex 1:</td>
            <td>X: <input id="coord1x" type="text" size="3" /> Y: <input id="coord1y" type="text" size="3" /></td>
        </tr>
        <tr>
            <td>Vertex 2:</td>
            <td>X: <input id="coord2x" type="text" size="3" /> Y: <input id="coord2y" type="text" size="3" /></td>
        </tr>
        <tr>
            <td>Vertex 3:</td>
            <td>X: <input id="coord3x" type="text" size="3" /> Y: <input id="coord3y" type="text" size="3" /></td>
        </tr>
        <tr>
            <td><!-- empty --></td>
            <td><input id="calcRowColumn" type="button" value="Calculate" onclick="calcRowColumnClick()" /></td>
        </tr>
    </table>

    <div id="rowColumnResult" style="display:none">
        <h4>Row and Column</h4>
        <b>Row:</b> <span id="rowResult"></span> <b>Column:</b> <span id="columnResult"></span>
    </div>

</div>
