<script>
    function calculateClick() {
        var vertex1x = $("#vlx").val();
        var vertex1y = $("#vly").val();
        if (vertex1x == "" || vertex1y == "") {
            alert("Invalid row or column.");
            return;
        }
        var column = $("#column").val();
        if (row == "" || column == "") {
            alert("Invalid row or column.");
            return;
        }

        // JSON format
        // {
        // "Vertex1": "0,10",
        // "Vertex2": "0,0",
        // "Vertex3": "10,10"
        // }
        $.getJSON("/api/triangle/" + row + "/" + column, function (result) {

            try {
                $("#rowColumnResult").show();
                var vertex1 = result.Vertex1.split(',');
                $("#v1x").html(vertex1[0]);
                $("#v1y").html(vertex1[1]);
                var vertex2 = result.Vertex2.split(',');
                $("#v2x").html(vertex2[0]);
                $("#v2y").html(vertex2[1]);
                var vertex3 = result.Vertex3.split(',');
                $("#v3x").html(vertex3[0]);
                $("#v3y").html(vertex3[1]);
            }
            catch (err) {
                alert(err.message);
            }

        }).fail(function (jqXHR) {
            var msg = "Error getting coordinates";
            if (jqXHR.status == 500 && typeof jqXHR.responseJSON != 'undefined' &&
                jqXHR.responseJSON.ExceptionMessage != 'undefined' && jqXHR.responseJSON.ExceptionMessage != "") {
                msg += ": " + jqXHR.responseJSON.ExceptionMessage;
            }
            alert(msg);
        })
    }
</script>

<div>
    <h4>Calculate Triangle Coordinates From Row and Column</h4>

    <table>
        <tr>
            <td>Vertex 1:</td>
            <td>X: <input id="v1x" type="text" size="3" /> Y: <input id="v1y" type="text" size="3" /></td>
        </tr>
        <tr>
            <td>Vertex 2:</td>
            <td>X: <input id="v2x" type="text" size="3" /> Y: <input id="v2y" type="text" size="3" /></td>
        </tr>
        <tr>
            <td>Vertex 3:</td>
            <td>X: <input id="v3x" type="text" size="3" /> Y: <input id="v3y" type="text" size="3" /></td>
        </tr>
        <tr>
            <td><!-- empty --></td>
            <td><input id="calculate" type="button" value="Calculate" onclick="calculateClick()" /></td>
        </tr>
    </table>

    <div id="rowColumnResult" style="display:none">
        <h4>Row and Column</h4>
        <b>Row:</b> <span id="row"></span> <b>Column:</b> <span id="column"></span>
    </div>

</div>
